*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    
}


/* body {
    display: flex;
    flex-direction: column;
    height: 280vh; 
} */

/* ----------------header-------------------- */
.nav-bar{

    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 12vh;
    background-color: #285A43;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.link ul li {
    display: inline-block;
    padding: 20px;

}

.link a{
    color:#FFFFFF;
    text-decoration: none;
}


.link a:hover{
    color:#519173;
    border-bottom: #519173 solid 1px;
    transform: scale(1.1);
    padding-top: 0;
}



.logo img{
    width: 4rem;
    height: 4rem;
    transition: all linear 2s;
}


.logo:hover{

    transform: scale(1.1) ;
}


header{
    background-image: url(./lush.imag/image\ 1.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    height: 140vh;
    width: 100%;
   
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
    
    
}

.header-content h1{
    color: #1e4131;
    font-size:40px;
    margin-top: 4rem;

}

.header-content p{
    text-align: center;
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 22px;
    color:  #285A43;
}

.header-btn{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 4rem;
}

.header-btn button{
    padding: 1rem;
    background-color: #1e4131;
    border: #285A43 2px solid;
    border-radius: 15px;
    transition: all linear 1s;
}

.header-btn button:hover{
   
        transform: scale(0.89);
        background-color: #519173;
       
   
}


/* -------------------main------------------------------ */



.plants{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: 50vh;
    color: #1e4131;
   
    
}

.plants h2{

    font-size:30px
}


.plants p{
    text-align: center;
    font-size:16px;
}


.container-card{

    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    height: 100vh;
    color: #1e4131;
    margin-top: 5rem;
  

}


img{
    width: 90px;
    height: 90px;
}

.card{
    display: flex;
   flex-direction: column;
   gap: 30px;
   width: 300px;
   height:300px;
  transition: all linear 1s;
  transform-origin:bottom left;
  
}

.card-2{
    background-color:#1e4131 ;
    color:#FFFFFF;
    border: #337A5B 2px solid;
    border-radius: 15px;
    
}


.container-card h3{
    width: 200px;
    margin-left: 2rem;
   
}

.container-card p{
    font-size: 14px;
    width: 200px;
    margin-left: 2rem;
   
}

.card:hover{

    transform: perspective(900px) rotatex(5deg) scale(0.85);
}


/* -------------------fooret-------------------------------*/


.footer-container{

    width: 100%;
    height: 30vh;
    background-color: #285a43;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: #FFFFFF;

}

.footer-social img{

    width: 50px;
    height: 50px;
    padding:10px;
}


.footer-social img:hover{
    transform:scale(1.1) ;
}


.footer-links a{

    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
    
}

.footer-links a:hover{
    color:#519173;
}



.copyright {
   width: 100%;
   height: 20px;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
}

footer{
    position: relative;
}
.content{
    position: absolute;
    bottom: 0;
}






/* ---------------responsive---------------------- */



@media (max-width:1200px){
    main{
        height: 100rem;
    }

}

@media (max-width:992px){

    .header-content,.header-btn{
        display: none;
       
    }
    header{
        height: 80vh;
    }
    
  
}

@media (max-width:768px){
    
    header{
        height: 70vh;
    }
}

@media (max-width:576px){

    header{
        height: 50vh;
    }
}

@media (max-width:468px){

    header{
        height: 40vh;
    }
    .link a{
        font-size: 10px;
    }

}







